.shield-icon{
    //display: flex;
    //flex-direction: column;
    //align-items: center;
    //justify-content: center;
    font-size: 80px;
    margin-top: 30px;


}

   .centrar{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
   }

   
